@import url(__description/elements__description.css);
@import url(__foto/elements__foto.css);
@import url(__item/elements__item.css);
@import url(__name/element__name.css);
@import url(__like/elements__like.css);

.elements {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 66px;
}

@media screen and (max-width: 950px) {
    .elements {
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .elements {
        width: 87%;
        margin: 0 auto;
    }
}