@import url(__image/open-popup__image.css);
@import url(__text/open-popup__text.css);
@import url(__wrap/open-popup__wrap.css);

.open-popup {
    text-align: center;
    position: relative;
    padding-top: 5%;
    margin: 0 auto;
    max-width: 75vw;
    max-height: 75vh;
}