.elements__item {
    width: 32.3%;
    margin-right: 1.5%;
    margin-bottom: 21px;
}

.elements__item:nth-child(3n) {
    margin-right: 0;
}

@media screen and (max-width: 950px) {
    .elements__item {
        width: 45%;
    }

    .elements__item:nth-child(2n) {
        margin-right: 0;
    }

    .elements__item:nth-child(3n) {
        margin-right: 1.5%;
    }
}

@media screen and (max-width: 650px) {
    .elements__item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}